@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

$h1-size: 60px;
$h2-size: 40px;
$h3-size: 30px;
$h5-size: 20px;
$h6-size: 16px;
$p-size: 18px;
h1 {
  font-size: $h1-size;
}
h2 {
  font-size: $h2-size;
}
h3 {
  font-size: $h3-size;
}
h5 {
  font-size: $h5-size;
}
h6 {
  font-size: $h6-size;
}
p {
  font-size: $p-size;
}

$container-width: 1300px;
$container-padding: 10px;
.container {
  max-width: $container-width;
  padding: 0 $container-padding;
  margin: 0 auto;
}

.btn {
  font-weight: 600;
  padding: 13px 15px !important;
  border-radius: 45px;
  display: inline-block;

  &--default {
    background: #4d6deb;
    color: white;
  }

  &--warning {
    background: #f3f301;
  }
}

.logo {
  &--mdl {
    height: 47px;
  }
}

.font {
  &--highlight {
    color: #4d6deb;
  }
}

.wrapper {
  background: #f3f3fa;
}

.fixed {
  position: absolute;
  max-width: $container-width;
  box-sizing: border-box;
  width: 100%;
  z-index: 5;

  &--bottom {
    bottom: 0;
    transform: translateY(50%);
  }
}

.header {
  background: #b6cfff;
  padding: 15px 0;

  .header__wrapper,
  .header__block {
    display: flex;
  }

  .header__wrapper {
    justify-content: space-between;
  }

  .header__block {
    gap: 40px;
    align-items: center;
  }

  .header__item-link {
    text-wrap: nowrap;
    padding: 13px 0;

    &--flex {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.intro {
  position: relative;
  padding: 85px 0 200px;

  .intro__block {
    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 70px;
    }
  }

  .intro__title,
  .intro__subtitle {
    margin-bottom: 20px;
  }

  .intro__title {
    font-weight: 600;
  }

  .intro__img {
    width: 571px;
    height: 531px;
  }

  .intro__link {
    font-weight: 500;

    &--flex {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .intro__link-svg {
    fill: white;
  }

  .intro__nav {
    display: flex;
    gap: 10px;
  }

  .intro__item {
    border-radius: 20px;
    background: rgba(253, 254, 255, 0.95);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 30px 60px;
  }

  .intro__item-icon {
    fill: none;
  }

  .intro__item-title {
    font-weight: 600;
    line-height: 40px;
  }

  .intro__item-subtitle {
    font-weight: 400;
  }
}

.experience {
  position: relative;
  background: #08091d;
  color: white;
  padding: 180px 0;

  .experience__block {
    &--flex-between {
      display: flex;
      justify-content: space-between;
    }

    &--flex-around {
      display: flex;
      justify-content: space-around;
    }

    &--inline-flex {
      display: inline-flex;
      gap: 50px;
    }

    &--platform {
      padding: 70px 90px;
      border-radius: 20px;
      background: #fff;
    }
  }

  .experience__title {
    margin-bottom: 15px;

    &--highlight {
      display: inline-block;
      background: #4d6deb;
      padding: 7px 10px;
      border-radius: 5px;
      color: white;
    }
  }

  .experience__subtitle {
    margin-bottom: 40px;
  }

  .experience__item-title {
    color: #f3f301;
    margin-bottom: 6px;
  }

  .experience__img {
    height: 370px;

    &--sml {
      height: 60px;
    }
  }
}

.reviews {
  position: relative;
  padding: 244px 0 140px;

  .reviews__title {
    text-align: center;
    margin-bottom: 110px;
    font-weight: 600;
  }

  .reviews__block {
    &--flex-center {
      display: flex;
      justify-content: center;
    }

    &--big-gap {
      gap: 40px;
    }

    &--sml-gap {
      gap: 5px;
    }
  }

  .reviews__item {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    padding: 80px 20px 20px;
    position: relative;
    max-width: 290px;

    svg {
      fill: #4968f7;
    }

    &--focus {
      transform: scale(1.1);
      background: #4968f7;
      color: white;

      svg {
        fill: white;
      }
    }
  }

  .reviws__border-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    padding: 5px;
    border-radius: 100px;
    border: 1px solid #08091d;
  }

  .reviews__item-title {
    line-height: 40px;
    font-weight: 600;
  }

  .reviews__subtitle {
    font-weight: 400;
    line-height: normal;
  }
}

.footer {
  background: #b6cfff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 60px 0 70px;

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer__block {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .footer__block:first-child .footer__title {
    color: white;
  }

  .footer__border-wrapper {
    padding: 5px;
    border: 1px solid white;
    border-radius: 17px;
  }

  .footer__img {
    display: block;
    width: 40px;
    height: 40px;
  }
}
