@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 60px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 40px;
}
@media (max-width: 576px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 30px;
}
@media (max-width: 576px) {
  h3 {
    font-size: 25px;
  }
}

h5 {
  font-size: 20px;
}
@media (max-width: 576px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-size: 16px;
}
@media (max-width: 576px) {
  h6 {
    font-size: 14px;
  }
}

p {
  font-size: 18px;
}

.container {
  max-width: 1300px;
  padding: 0 25px;
  margin: 0 auto;
}

.btn {
  font-weight: 600;
  padding: 13px 15px !important;
  border-radius: 45px;
  display: inline-block;
}
.btn--default {
  background: #4d6deb;
  color: white;
}
.btn--warning {
  background: #f3f301;
}

.logo--mdl {
  height: 47px;
}
@media (max-width: 576px) {
  .logo--mdl {
    height: 34px;
  }
}

.font--highlight {
  color: #4d6deb;
}

.wrapper {
  background: #f3f3fa;
}

.fixed {
  position: absolute;
  max-width: 1300px;
  box-sizing: border-box;
  width: 100%;
  z-index: 5;
}
.fixed--bottom {
  bottom: 0;
  transform: translateY(50%);
}
@media (max-width: 576px) {
  .fixed {
    max-width: calc(100vw - 50px);
  }
  .fixed--bottom {
    transform: translateY(12%);
  }
  .fixed--mob-stretch {
    align-items: stretch !important;
  }
}

.header {
  background: #b6cfff;
  padding: 15px 0;
}
.header .header__wrapper,
.header .header__block {
  display: flex;
}
.header .header__wrapper {
  justify-content: space-between;
  align-items: center;
}
.header .header__block {
  gap: 40px;
  align-items: center;
}
.header .header__item-link {
  text-wrap: nowrap;
  padding: 13px 0;
}
.header .header__item-link--flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .header__menu-icon {
  display: none;
}
@media (max-width: 576px) {
  .header .header__nav,
  .header .header__info {
    display: none;
  }
  .header .header__menu-icon {
    display: block;
  }
}

.intro {
  position: relative;
  padding: 85px 0 200px;
}
.intro .intro__block--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.intro .intro__title,
.intro .intro__subtitle {
  margin-bottom: 20px;
}
.intro .intro__title {
  font-weight: 600;
}
.intro .intro__img {
  width: 571px;
  height: 531px;
}
.intro .intro__link {
  font-weight: 500;
}
.intro .intro__link--flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.intro .intro__link-svg {
  fill: white;
}
.intro .intro__nav {
  display: flex;
  gap: 10px;
}
.intro .intro__item {
  border-radius: 20px;
  background: rgba(253, 254, 255, 0.95);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 30px 60px;
}
.intro .intro__item-icon {
  fill: none;
}
.intro .intro__item-title {
  font-weight: 600;
  line-height: 40px;
}
.intro .intro__item-subtitle {
  font-weight: 400;
}
@media (max-width: 576px) {
  .intro {
    padding: 60px 0 580px;
  }
  .intro .intro__block--flex {
    gap: 60px;
  }
  .intro .intro__block--mob-column {
    flex-direction: column;
    gap: 30px;
  }
  .intro .intro__block--mob-columnr {
    flex-direction: column-reverse;
  }
  .intro .intro__item {
    padding: 20px 30px;
  }
  .intro .intro__img {
    height: auto;
    width: 100%;
  }
}

.experience {
  position: relative;
  background: #08091d;
  color: white;
  padding: 180px 0 233px;
}
.experience .experience__block--flex-between {
  display: flex;
  justify-content: space-between;
}
.experience .experience__block--flex-around {
  display: flex;
  justify-content: space-around;
}
.experience .experience__block--inline-flex {
  display: inline-flex;
  gap: 50px;
}
.experience .experience__block--platform {
  padding: 70px 90px;
  border-radius: 20px;
  background: #fff;
}
.experience .experience__title {
  margin-bottom: 15px;
}
.experience .experience__title--highlight {
  display: inline-block;
  background: #4d6deb;
  padding: 7px 10px;
  border-radius: 5px;
  color: white;
}
.experience .experience__subtitle {
  margin-bottom: 40px;
}
.experience .experience__item-value {
  color: #f3f301;
  margin-bottom: 6px;
}
.experience .experience__title {
  margin-bottom: 40px;
}
.experience .experience__img {
  height: 370px;
}
.experience .experience__img--sml {
  height: 60px;
}
@media (max-width: 576px) {
  .experience {
    padding: 176px 0 190px;
  }
  .experience .experience__block--platform {
    transform: translateY(75%);
    padding: 35px 60px;
  }
  .experience .experience__block--mob-column {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .experience .experience__block--mob-gap {
    gap: 10px;
  }
  .experience .experience__img {
    height: auto;
    width: 100%;
  }
  .experience .experience__img--sml {
    height: 60px;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.reviews {
  position: relative;
  padding: 244px 0 140px;
}
.reviews .reviews__title {
  text-align: center;
  margin-bottom: 110px;
  font-weight: 600;
}
.reviews .reviews__block--flex-center {
  display: flex;
  justify-content: center;
}
.reviews .reviews__block--big-gap {
  gap: 40px;
}
.reviews .reviews__block--sml-gap {
  gap: 5px;
}
.reviews .reviews__item {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  padding: 80px 20px 20px;
  position: relative;
  max-width: 290px;
}
.reviews .reviews__item svg {
  fill: #4968f7;
}
.reviews .reviews__item--focus {
  transform: scale(1.1);
  background: #4968f7;
  color: white;
}
.reviews .reviews__item--focus svg {
  fill: white;
}
.reviews .reviws__border-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  padding: 5px;
  border-radius: 100px;
  border: 1px solid #08091d;
}
.reviews .reviews__item-title {
  line-height: 40px;
  font-weight: 600;
}
.reviews .reviews__subtitle {
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 576px) {
  .reviews {
    padding: 480px 0 90px;
  }
  .reviews .reviews__block--mob-column {
    flex-direction: column;
    align-items: center;
    gap: 120px;
  }
}

.footer {
  background: #b6cfff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 60px 0 70px;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .footer__block {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer .footer__block:first-child .footer__title {
  color: white;
}
.footer .footer__border-wrapper {
  padding: 5px;
  border: 1px solid white;
  border-radius: 17px;
}
.footer .footer__img {
  display: block;
  width: 40px;
  height: 40px;
}
@media (max-width: 576px) {
  .footer .footer__wrapper {
    flex-direction: column;
    gap: 50px;
  }
  .footer .footer__block--flex {
    justify-content: center;
    gap: 30px;
  }
  .footer .footer__block--mob-column {
    flex-direction: column;
    gap: 5px;
  }
}/*# sourceMappingURL=style.css.map */