{% extends 'base.html' %} {% load static %} {% block content %}
<body>
  {% include 'header.html' %}
  <section class="services__wrapper">
    <div class="container services__container">
      <div class="services__content_container">
        <div class="services__content_left">
          <div class="services__content_img">
            <img src="{% static 'uslugi_img.png' %}" alt="" />
          </div>
          <div class="services__content_left_btns">
            <a href="#" class="services__content_left_order_btn">
              <p class="services__content_left_order_btn_text">
                Zamówić sprzątanie
              </p>
              <img src="{% static 'arrow_right_white.svg' %}" alt="" />
            </a>
            <a href="#" class="services__content_left_phone">
              <img src="{% static 'phone.svg' %}" alt="" />
            </a>
          </div>
        </div>
        <div class="services__content_right">
          {% for category in object_list %}
          <div class="service__info_container">
            <div class="service__info_main">
              <div class="service__info_main_title">
                <img src="{{ category.icon.url }}" alt="" />
                <h4 class="service__info_main_title_text">
                  {{ category.name }}
                </h4>
              </div>
              <p class="service__info_price">
                <span>{{ category.min_price }}</span> -
                <span>{{ category.max_price }}</span> PLN
              </p>
            </div>
            {% for service in category.services.all %}
            <div class="service__info_price_variant">
              <h5 class="service__info_price_variant_title">
                {{ service.name }}
              </h5>
              <p class="service__info_price">
                <span>{{ service.price }}</span> PLN
              </p>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="services__cards_container">
        <div class="services__card">
          <img src="{% static 'leaf_icon.png' %}" alt="" />
          <div class="services__card_text">
            <h5 class="services__card_title">Bezpieczne eko-środki</h5>
            <p class="services__card_desc">
              Używamy wyłącznie certyfikowanej, hipoalergicznej chemii,
              bezpiecznej dla dzieci i zwierząt.
            </p>
          </div>
        </div>
        <div class="services__card">
          <img src="{% static 'rocket_icon.png' %}" alt="" />
          <div class="services__card_text">
            <h5 class="services__card_title">Szybko i dokładnie!</h5>
            <p class="services__card_desc">
              Sprzątamy starannie, bez zbędnych opóźnień. Standardowe sprzątanie
              – od 2 godzin.
            </p>
          </div>
        </div>
        <div class="services__card">
          <img src="{% static 'clock_icon.png' %}" alt="" />
          <div class="services__card_text">
            <h5 class="services__card_title">Dostosowujemy się do Ciebie!</h5>
            <p class="services__card_desc">
              Pracujemy codziennie w godzinach które Ci odpowiadają.
            </p>
          </div>
        </div>
        <div class="services__card">
          <img src="{% static 'bucket_icon.png' %}" alt="" />
          <div class="services__card_text">
            <h5 class="services__card_title">
              Nasi doświadczeni profesjonaliści
            </h5>
            <p class="services__card_desc">
              Nasi specjaliści są przeszkoleni i korzystają z profesjonalnego
              sprzętu.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</body>
{% endblock %}
