{% extends 'base.html' %} {% load static %} {% block content %}
<body>
  {% include 'header.html' %}
  <section class="hero__wrapper_calc">
    <div class="hero__title_calc_wrapper">
      <div class="container hero__title_calc_container">
        <h4 class="hero__title_calc_text">
          <span>Wybierz, co Cię interesuje</span> a my obliczymy cenę!
        </h4>
        <img src="{% static 'cleaning_utils_img.png' %}" alt="" />
      </div>
    </div>
    <form
      method="post"
      action="{% url 'create_order' %}"
      class="container hero__content_calc_container"
    >
      {% csrf_token %}
      <div class="hero__form_container hero__calc_form">
        <p class="hero__form_title">Obliczymy cenę dla Ciebie.</p>
        <div class="form__inputs__container">
          <div class="form__input_container">
            <label class="form__name_input_text" for="name">Imię</label>
            <input
              type="text"
              id="name"
              name="name"
              autocomplete="name"
              class="form__input_field"
              placeholder="Mateusz Kowalski"
            />
          </div>

          <div class="form__input_container">
            <label class="form__name_input_text" for="email">E-mail</label>
            <input
              type="email"
              id="email"
              name="email"
              autocomplete="email"
              class="form__input_field"
              placeholder="testmail.gmail.com"
            />
          </div>

          <div class="form__input_container form__textarea_container">
            <label class="form__name_input_text" for="work">Zakres pracy</label>
            <textarea
              id="work"
              name="description"
              class="form__input_field form__textarea"
              placeholder="Opis zamówienia."
            ></textarea>
          </div>
        </div>
        <p class="form__error_msg">
          Aby kontynuować, wybierz interesującą Cię usługę z listy!
        </p>
        <div class="form__bottom_btns">
          <div class="form__bottom_btns_agree">
            <input
              type="checkbox"
              id="policy"
              class="form__bottom_btns_radio"
            />
            <label for="policy" class="form__bottom_btn_agree_text"
              >Rozumiem, że podane ceny są przybliżone</label
            >
          </div>
          <button type="submit" class="form__bottom_btns_send">Wyślij</button>
        </div>
      </div>
      <div class="hero__services_lists_container">
        <div class="hero__services_list">
          <h5 class="hero__services_title">Wybierz, czego potrzebujesz!</h5>
          <div class="hero__services">
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_3"
                >Sprzątania podstawowe</label
              >
              <input
                type="checkbox"
                id="hero__service_top_3"
                name="Sprzątania podstawowe"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_4"
                >Pozbądź się kurzu i bałaganu po budowie!</label
              >
              <input
                type="checkbox"
                id="hero__service_top_4"
                name="Pozbądź się kurzu i bałaganu po budowie!"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_5"
                >Przygotuj nieruchomość na nowego najemcę</label
              >
              <input
                type="checkbox"
                id="hero__service_top_5"
                name="Przygotuj nieruchomość na nowego najemcę"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_6"
                >Mycie okien</label
              >
              <input
                type="checkbox"
                id="hero__service_top_6"
                name="Mycie okien"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_8"
                >Odśwież swoje meble!</label
              >
              <input
                type="checkbox"
                id="hero__service_top_8"
                name="Odśwież swoje meble!"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_9"
                >Sprzątanie biura</label
              >
              <input
                type="checkbox"
                id="hero__service_top_9"
                name="Sprzątanie biura"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_10"
                >Sprzątania generalnie</label
              >
              <input
                type="checkbox"
                id="hero__service_top_10"
                name="Sprzątania generalnie"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_11"
                >Pranie tapicerki meblowej</label
              >
              <input
                type="checkbox"
                id="hero__service_top_11"
                name="Pranie tapicerki meblowej"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_12"
                >Sprzątania po imprezie</label
              >
              <input
                type="checkbox"
                id="hero__service_top_12"
                name="Sprzątania po imprezie"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_13"
                >Sprzątanie ekspresowo</label
              >
              <input
                type="checkbox"
                id="hero__service_top_13"
                name="Sprzątanie ekspresowo"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_14"
                >Sprzątania po wynajmie</label
              >
              <input
                type="checkbox"
                id="hero__service_top_14"
                name="Sprzątania po wynajmie"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_15"
                >Czyszczenie mebli skórzanych</label
              >
              <input
                type="checkbox"
                id="hero__service_top_15"
                name="Czyszczenie mebli skórzanych"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_16"
                >Czyszezenie chemiczne dywanów i wykladzin</label
              >
              <input
                type="checkbox"
                id="hero__service_top_16"
                name="Czyszezenie chemiczne dywanów i wykladzin"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_17"
                >Usuwanie plesni i nieprzyjemnych zapachów</label
              >
              <input
                type="checkbox"
                id="hero__service_top_17"
                name="Usuwanie plesni i nieprzyjemnych zapachów"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_top_18"
                >Sprzątanie hoteli i apartamentów</label
              >
              <input
                type="checkbox"
                id="hero__service_top_18"
                name="Sprzątanie hoteli i apartamentów"
                class="hero__service_btn"
              />
            </div>
          </div>
        </div>
        <div class="hero__services_divider">
          <h5 class="hero__services_divider_title">Wielkość m2</h5>
          <input
            class="hero__services_divider_input"
            maxlength="10"
            placeholder="23m3"
            name="square"
          />
        </div>
        <div class="hero__services_list">
          <h5 class="hero__services_title">Dodatkowe usługi</h5>
          <div class="hero__services">
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_1"
                >Mycie piekarnika</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_1"
                name="Mycie piekarnika"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_2"
                >Czyszczenie wnętrza okapu i filtrów</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_2"
                name="Czyszczenie wnętrza okapu i filtrów"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_3"
                >Mycie i dezynfekcja wnętrza lodówki</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_3"
                name="Mycie i dezynfekcja wnętrza lodówki"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_4"
                >Czyszczenie kuchenki mikrofalowej</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_4"
                name="Czyszczenie kuchenki mikrofalowej"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_5"
                >Czyszczenie pralki w Środku</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_5"
                name="Czyszczenie pralki w Środku"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_6"
                >Czyszczenie wnętrza szafek kuchennych</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_6"
                name="Czyszczenie wnętrza szafek kuchennych"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_7"
                >Mycie okien</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_7"
                name="Mycie okien"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_8"
                >Sprzatanie balkonu</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_8"
                name="Sprzatanie balkonu"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_9"
                >Usuwanie plesni</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_9"
                name="Usuwanie plesni"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_10"
                >Usuwanie nieprzyjemnych zapachów pochodzenia organicznego</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_10"
                name="Usuwanie nieprzyjemnych zapachów pochodzenia organicznego"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_11"
                >Czyszczenie zmywarki</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_11"
                name="Czyszczenie zmywarki"
                class="hero__service_btn"
              />
            </div>
          </div>
        </div>
        <div class="hero__services_list">
          <h5 class="hero__services_title">Sprzątania generalnie</h5>
          <div class="hero__services">
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_12"
                >Usuwanie kurzu i brudu z parapetów oraz listew przypodlogowych.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_12"
                name="Usuwanie kurzu i brudu z parapetów oraz listew przypodlogowych"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_13"
                >Czyszczenie kranów z kamienia wapiennego z polerowaniem.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_13"
                name="Czyszczenie kranów z kamienia wapiennego z polerowaniem"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_14"
                >Czyszczenie kabiny prysznicowej/wanny z osadu wapiennego i brudu (bez usuwania plesni).</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_14"
                name="Czyszczenie kabiny prysznicowej/wanny z osadu wapiennego i brudu (bez usuwania plesni)"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_15"
                >Czyszczenie i dezynfekcja toalety, umywalek, bidetu.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_15"
                name="Czyszczenie i dezynfekcja toalety, umywalek, bidetu"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_16"
                >Polerowanie luster do polysku.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_16"
                name="Polerowanie luster do polysku"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_17"
                >Czyszczenie mikrofalówki.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_17"
                name="Czyszczenie mikrofalówki"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_18"
                >Czyszczenie kuchennego „fartucha" z tłuszczu i brudu.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_18"
                name="Czyszczenie kuchennego fartucha z tłuszczu i brudu"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_19"
                >Sprzqtanie blatu i strefy jadalni</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_19"
                name="Sprzqtanie blatu i strefy jadalni"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_20"
                >Czyszezenie innego sprzętu AGD z zewnątrz.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_20"
                name="Czyszezenie innego sprzętu AGD z zewnątrz"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_21"
                >Usuwanie kurzu z tapicerki meblowej odkurzaczem</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_21"
                name="Usuwanie kurzu z tapicerki meblowej odkurzaczem"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_22"
                >Sprzqtanie podtogi odkurzaczem i mycie na mokro (ze przesuwaniem mebli lub pod nimi).</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_22"
                name="Sprzqtanie podtogi odkurzaczem i mycie na mokro (ze przesuwaniem mebli lub pod nimi)"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_23"
                >Usuwanie kurzu i pajęczyn z sufitu do podlogi.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_23"
                name="Usuwanie kurzu i pajęczyn z sufitu do podlogi"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_24"
                >Usuwanie kurzu z szafek i lamp/żyrandoli.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_24"
                name="Usuwanie kurzu z szafek i lamp/żyrandoli"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_25"
                >Czyszezenie płytek w łazience na ścianach i podlodze (bez czyszczenia fug).</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_25"
                name="Czyszezenie płytek w łazience na ścianach i podlodze (bez czyszczenia fug)"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_26"
                >Czyszezenie i dezynfekcja pralki.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_26"
                name="Czyszezenie i dezynfekcja pralki"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_27"
                >Czyszezenie okapu i kratek wentylacyjnych.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_27"
                name="Czyszezenie okapu i kratek wentylacyjnych"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_28"
                >Czyszczenie i dezynfekcja zmywarki.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_28"
                name="Czyszczenie i dezynfekcja zmywarki"
                class="hero__service_btn"
              />
            </div>
          </div>
        </div>
        <div class="hero__services_list">
          <h5 class="hero__services_title">Sprzątania podstawowe</h5>
          <div class="hero__services">
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_29"
                >Sprzątanie kurzu z powierzchni do 2 m.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_29"
                name="Sprzątanie kurzu z powierzchni do 2 m"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_30"
                >Czyszczenie kuchenki z tłuszczu i brudu.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_30"
                name="Czyszczenie kuchenki z tłuszczu i brudu"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_31"
                >Zmiana pościeli (na zyczenie klienta).</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_31"
                name="Zmiana pościeli (na zyczenie klienta)"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_32"
                >Czyszczenie frontów szaf, drzwi, uchwytów.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_32"
                name="Czyszczenie frontów szaf, drzwi, uchwytów"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_33"
                >Sprzątanie podlogi odkurzaczem i mokre czyszczenie (bez przesuwania mebli).</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_33"
                name="Sprzątanie podlogi odkurzaczem i mokre czyszczenie (bez przesuwania mebli)"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_34"
                >Usuwanie kurzu i brudu z parapetów i listew przypodlogowych.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_34"
                name="Usuwanie kurzu i brudu z parapetów i listew przypodlogowych"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_35"
                >Czyszczenie baterii z kamienia wapiennego z polerowaniem.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_35"
                name="Czyszczenie baterii z kamienia wapiennego z polerowaniem"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_36"
                >Czyszczenie kabiny prysznicowej/wanny z osadu wapiennego i brudu (bez usuwania pleśni)</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_36"
                name="Czyszczenie kabiny prysznicowej/wanny z osadu wapiennego i brudu (bez usuwania pleśni)"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_37"
                >Czyszczenie i dezynfekcja toalety, umywalki, bidetu.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_37"
                name="Czyszczenie i dezynfekcja toalety, umywalki, bidetu"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_38"
                >Czyszczenie luster do polysku.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_38"
                name="Czyszczenie luster do polysku"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_39"
                >Czyszczenie mikrofalówki.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_39"
                name="Czyszczenie mikrofalówki"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_40"
                >Czyszczenie „fartucha" kuchennego z tłuszczu i brudu.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_40"
                name="Czyszczenie 'fartucha' kuchennego z tłuszczu i brudu"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_41"
                >Sprzątania blatu i strefy jadalnej.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_41"
                name="Sprzątania blatu i strefy jadalnej"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_42"
                >Czyszczenie innych urządzeń AGD zewnętrznie.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_42"
                name="Czyszczenie innych urządzeń AGD zewnętrznie"
                class="hero__service_btn"
              />
            </div>
            <div class="hero__service">
              <label class="hero__service_name" for="hero__service_bottom_43"
                >Usuwanie kurzu z mebli tapicerowanych odkurzaczem.</label
              >
              <input
                type="checkbox"
                id="hero__service_bottom_43"
                name="Usuwanie kurzu z mebli tapicerowanych odkurzaczem"
                class="hero__service_btn"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  {% include 'footer.html' %}
</body>
{% endblock %}
