@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-lightblue: #b6cfff;
  --clr-blue: #4d6deb;
  --clr-darkblue: #08091d;
  --clr-grey: #f3f3fa;
  --clr-darkgrey: #888888;
  --clr-yellow: #f3f301;
  --clr-lightgreen: #ecf2f0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--clr-grey);
}

a {
  color: var(--clr-black);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4rem;
}

.overflow_hidden {
  overflow: hidden;
}

@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
